/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; 
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Medium"; 
  src: url('../fonts/HarmonyOSHans-Medium.woff2'),
}
@font-face {
  font-family: "Regular";
  src: url('../fonts/HarmonyOSHans-Regular.woff2');
}
@font-face {
  font-family: "pmz";
  src: url('../fonts/SanJiXingKaiJianTi-Cu-2.ttf');
}
